<div class="csv-table__search">
  <input class="csv-table__search-input" type="text" placeholder="{{ 'type to search'|t }}" name="search">
  <div class="csv-table__no-results" style="display:none">{{ 'No results found'|t }}</div>
</div>
